swagger: "2.0"
info: #Thông tin của APIs, trong này sẽ chứa những phần: title, version, description,
  version: "0.0.1"
  title: Hello World App
# during dev, should point to your local machine
host: localhost:10010
# basePath prefixes all resource paths 
basePath: /
# 
schemes:
  # tip: remove http to make production-grade
  - http
  - https
# format of bodies a client can send (Content-Type)
consumes:
  - application/json
# format of the responses to the client (Accepts)
produces:
  - application/json
paths:
  /hello:
    # binds a127 app logic to a route
    x-swagger-router-controller: hello_world
    get:
      description: Returns 'Hello' to the caller
      # used as the method name of the controller
      operationId: hello
      parameters:
        - name: name
          in: query
          description: The name of the person to whom to say hello
          required: false
          type: string
      responses:
        "200":
          description: Success
          schema:
            # a pointer to a definition
            $ref: "#/definitions/HelloWorldSuccessResponse"
        # responses may fall through to errors
        default:
          description: Error
          schema:
            $ref: "#/definitions/HelloWorldErrorResponse"
  /crawlTyGia:
    x-swagger-router-controller: tygia
    get:
      description: Trả về tỷ giá ngoại tệ
      operationId: crawlTyGia
      parameters:
        - name: currency
          in: query
          description: Mã ngoại tệ
          required: true
          type: string
        - name: type
          in: query
          description: Loại tỷ giá
          required: true
          type: string
        - name: date
          in: query
          description: Ngày lấy tỷ giá
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            # a pointer to a definition
            $ref: "#/definitions/TyGiaSuccessResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/TyGiaErrorResponse"
  /qrcode:
    x-swagger-router-controller: qrcode
    get:
      description: Tạo QR Code string base 64
      operationId: qrcodeStringGenerator
      parameters:
        - name: text
          in: query
          description: Input text to be transformed to QR code string
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/QRCodeSuccessResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/QRCodeErrorResponse"
  /swagger:
    x-swagger-pipe: swagger_raw
# complex objects have schema definitions
definitions:
  HelloWorldSuccessResponse:
    required:
      - message
    properties:
      message:
        type: string
  HelloWorldErrorResponse:
    required:
      - message
    properties:
      message:
        type: string
  TyGiaSuccessResponse:
    required:
      - result
    properties:
      result:
        type: string
  TyGiaErrorResponse:
    required:
      - result
    properties:
      result:
        type: string
  QRCodeSuccessResponse:
    required:
      - result
    properties:
      result:
        type: string
  QRCodeErrorResponse:
    required:
      - result
    properties:
      result:
        type: string