swagger: "2.0"
info: #Thông tin của APIs, trong này sẽ chứa những phần: title, version, description,
  version: "0.0.1"
  title: Demo tinh năng tỷ giá của Phan Đinh Tường
  description: Web API cung cấp tiện ích cho MycelApp, là đồ án tốt nghiệp Graduation Project của tác giả
# during dev, should point to your local machine
host: mycel.app:64000
# basePath prefixes all resource paths 

basePath: /
# 
schemes:
  # tip: remove http to make production-grade
  - http
  - https
# format of bodies a client can send (Content-Type)
consumes:
  - application/json
# format of the responses to the client (Accepts)
produces:
  - application/json
#----------------------------------------------------------------------    
#   KHAI BÁO CÁC MODEL dữ liệu, cấu trúc dữ liệu trao đổi
#   KHAI BÁO enum
#   Rất tiếc, swagger 2.0 không hỗ trợ chức năng tạo các enum tái sử dụng
#   là components, nên phải khai báo như là một thành phần của definitions
#----------------------------------------------------------------------
definitions:
  CURRENCY_TYPE: 
    type: string
    description: danh mục các ngoại tệ được cung cấp tỷ giá trên website Vietcombank
    enum: &CURRENCY_TYPE [AUD,CAD,CHF,CNY,DKK,EUR,GBP,HKD,INR,JPY,KRW,KWD,MYR,NOK,RUB,SAR,SEK,SGD,THB,USD]
  #-------definitions  HelloWorld--------------
  HelloWorldSuccessResponse:
    required:
      - message
    properties:
      message:
        type: string
        example: text hoặc base64
  HelloWorldErrorResponse:
    required:
      - message
    properties:
      message:
        type: string
  #-------definitions  TyGia--------------
  TyGiaSuccessResponse:
    required:
      - result
    properties:
      result:
        type: string
        description: qui đổi vnđ
      type:
        type: string
        format: CURRENCY_TYPE
        description: loại tỷ giá        
      date:
        type: string
        format: "date"
        description: ngày tương ứng với tỷ giá. Cú pháp ddmmyyyy. 
      time:
        type: string
        format: "time"
        description: thời điểm tương ứng với tỷ giá. Cú pháp hhmmss. Chỉ có nếu xem tỷ giá tại thời điểm hiện tại, không xem trong quá khứ.
    example:  { "result": "23,215.00", "type": "Sell",  "date": "01012021", "time":"135951" }  
  TyGiaErrorResponse:
    required:
      - error    
    properties:
      error:
        type: string
    example:  {"error": "Mô tả chi tiết lỗi"}
  #-------definitions  QRCode--------------
  QRCodeSuccessResponse:
    description: json or png
  QRCodeErrorResponse:
    required:
      - result
    properties:
      result:
        type: string
  #-------definitions  ExcelDatabase--------------
  ExcelDatabaseSuccessResponse:
    required:
      - result
    properties:
      result:
        type: string
  ExcelDatabaseErrorResponse:
    required:
      - result
    properties:
      result:
        type: string        
#----------------------------------------------------------------------    
#   KHAI BÁO CÁC PHƯƠNG THỨC XÁC THỰC
#----------------------------------------------------------------------
securityDefinitions:
  api_key:
    name: "apiKey"
    in  : query
    type: "apiKey"
#----------------------------------------------------------------------
# KHAI BÁO CÁC TAG GROUP, giúp gom nhóm các hàm theo các góc nhìn khác nhau
#----------------------------------------------------------------------
tags:
  - name: demo
    description: Chạy thử, kiểm tra tính năng...
  - name: finance
    description: Các hàm liên quan tới tài chính
    externalDocs:
      description: Tài liệu hướng dẫn MYCEL
      url: https://mycel.app/help/list_mixin.html
  - name: crawl      
    description: Các hàm cần thu thập dữ liệu từ bên thứ 3
  - name: utilities      
    description: Các hàm tiện ích khác
    externalDocs:
      description: Tài liệu hướng dẫn MYCEL
      url: https://mycel.app/help/list_module.html
  - name: bioinformatic
    description: Các hàm tin sinh học

#----------------------------------------------------------------------
# PHẦN CHÍNH: định nghĩa các API, phương thức http được hỗ trợ    
#----------------------------------------------------------------------
paths:
  /hello:   
    # binds a127 app logic to a route
    x-swagger-router-controller: hello_world
    get:   
      description: Returns 'Hello' to the caller
      # used as the method name of the controller
      operationId: hello
      parameters:  # Các tham số vào của GET/POST
        - name: name
          in: query
          description: The name of the person to whom to say hello
          required: false
          type: string
      responses:
        "200":
          description: Success
          schema:
            # a pointer to a definition
            $ref: "#/definitions/HelloWorldSuccessResponse"
        # responses may fall through to errors
        default:
          description: Error
          schema:
            $ref: "#/definitions/HelloWorldErrorResponse"
  /crawlTyGia:                                # API có controller là crawlTyGia
    x-swagger-router-controller: tygia   
    get:                                      # Hỗ trợ giao thức get
      summary:  Lấy tỷ giá ngoại tệ        # Giải thích về hàm
      description: Tỷ giá được lấy từ website của Vietcombank. Chú ý chỉ lấy khi kích hoạt hàm ở cell. Hàm không chạy thời gian thực.
      operationId: crawlTyGia
      tags: 
      - finance  
      - crawl  
      parameters:                             # Liệt kê và giải thích chi tiết các tham số
        - name: currency                      # Tham số vào có tên currency
          in: query
          description: Mã ngoại tệ. Không phân biệt chữ hoa/thường
          required: true
          type: string
          enum: *CURRENCY_TYPE                
          default: USD                        # Giá trị mặc định   
          allowEmptyValue: false              # Tham số phải có giá trị kèm theo, không được để trống
        - name: type
          in: query                           # Có 4 giá trị query|path|header|cookie. Cookie là tham số truyên đi ở dạng Cookie: debug=0; csrftoken=BUSe35dohU3O1MZvDCU
          description: Loại tỷ giá. Không phân biệt chữ hoa/thường
          required: true
          type: string
          enum: [Buy, Transfer, Sell, Mua, Bán, Chuyển khoản]
          default: Sell                        # Giá trị mặc định   
        - name: date
          in: query
          description: Ngày lấy tỷ giá. Cú pháp ddmmyyyy, ví dụ 01022021. Bỏ qua hoặc tham số không có giá trị tức là lấy thời điểm hiện tại.
          type: string
          allowEmptyValue: true              # Được phép để tham số nhưng không có giá trị kèm theo
      responses:
        "200":
          description: Success
          schema:
            # a pointer to a definition
            $ref: "#/definitions/TyGiaSuccessResponse"
        "422":            
          description: Tham số vào không hợp lệ
          schema:
            $ref: "#/definitions/TyGiaErrorResponse"
        "400":            
          description: Không thu thập được số liệu từ hệ thống của Vietcombank
          schema:
            $ref: "#/definitions/TyGiaErrorResponse"            
  /ipseuncp:                                # API có controller là ipseuncp
    x-swagger-router-controller: ipseuncp   
    get:                                      # Hỗ trợ giao thức get
      summary:  iPseU-NCP                     # Giải thích về hàm
      description: Identifying RNA Pseudouridine sites using Random Forest and NCP-encoded features
      operationId: ipseuncp
      tags: 
      - bioinformatic  
      - crawl  
      externalDocs:
        url: http://nguyenhongquang.edu.vn/problem-iPseU-NCP
        description: DATA SOURCE
      parameters:                             # Liệt kê và giải thích chi tiết các tham số
        - name: option                        
          in: query
          description: Khuôn dạng dữ liệu FASTA
          required: true
          type: string
          enum: ['H','S','M']
          default: 'H'                        # Giá trị mặc định   
          allowEmptyValue: false              # Tham số phải có giá trị kèm theo, không được để trống
        - name: seq
          in: query                           
          description: Chuỗi gen cần phân tích. Ví dụ GCUAAACAGGUACUGCUGGGC
          required: true
          type: string
          allowEmptyValue: false              # Tham số phải có giá trị kèm theo, không được để trống
      responses:
        "200":
          description: The RNA with the marker + for positive, - for negative. E.g. GCUAAACAGG+UACUGCUGGGC
  /qrcode:
    x-swagger-router-controller: qrcode
    get:
      description: Tạo QR Code string base 64
      operationId: qrcodeStringGenerator
      tags: 
      - utilities         
      parameters:
        - name: text
          in: query
          description: Input text to be transformed to QR code string
          required: true
          type: string
        - name: type
          type: string
          enum: ['json','png']
          in: query
          description: datatype such as json, png
          default: json
        - name: size
          type: integer
          in: query
          description: the width of qrcode image
          minimum: 5
          default: 300
        - name: color
          type: string
          in: query
          description: the dark color. E.g. 123456
          default: '000000'
        - name: background
          type: string
          in: query
          description: the light color. E.g. FFFFFF
          default: 'FFFFFF'
        - name: margin
          type: integer
          in: query
          description: the width of qrcode image
          minimum: 0
          default: 1
        - name: correction
          type: string
          enum: ['L','M','Q','H']
          in: query
          description: correctionmissing, misread, or obscured data. Greater redundancy is achieved at the cost of being able to store less data. See the appendix for details. Here are the supported values         
          default: 'M' 
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/QRCodeSuccessResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/QRCodeErrorResponse"
  /excelDB:
    x-swagger-router-controller: excelDatabase
    get:
      description: Excel Database Connection
      operationId: excelDatabaseConnection
      parameters:
        - name: op
          in: query
          description: Operation to be processed, 'select' or 'insert'
          required: true
          type: string
        - name: wbname
          in: query
          description: Workbook name
          required: false
          type: string
        - name: author
          in: query
          description: Author of the workbook
          required: false
          type: string
        - name: creationdate
          in: query
          description: Creation date of the workbook
          required: false
          type: string
        - name: lastauthor
          in: query
          description: Last author of the workbook
          required: false
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ExcelDatabaseSuccessResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ExcelDatabaseErrorResponse"
  /swagger:
    x-swagger-pipe: swagger_raw
